@import url('reset.css');

body {
    background: black;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 605px;
    border-bottom: 1px solid #33A8DB;
}

.banner-content {
    text-align: center;
    margin-top: 46px;
    color: white;
}

